@-moz-document domain("boardgamegeek.com") {
    @media (max-width: 500px) {

        /* General Structure */
        body, html {
            width: 100%; 
        }

        #simpleCarousel {
            display: none; 
        }

        #container > table {
            display: none;
        }
        .searchmenutabs {
            float: none;
            margin-left: 8px;
        }

        /* Pub */
        #dfp-leaderboard, #dfp-skyscraper, #dfp-medrect {
            display: none; 
        }

        /* Hide controls and blocks */
        #quickbar_label {
            display: none; 
        }
        #logout_label {
            display: none; 
        }
        #bggcon_label {
            display: none; 
        }
        #results_hotitems, .mb10 {
            display:none;
        }

        /* Header */
        #header {
            width: 450px !important;
            min-width: 450px !important;
        }
        .menu_login {
            width: 318px;
            margin-bottom: 10px;
        }
        .mainmenutabs {
            display: none;
        }

        /* Quickbar */
        .menu_quickbar {
            height: 130px; 
        }
        .quickbar_pager {
            font-size: 14px;
        }
        #quickbar .sf, #quickbar table.sf td {
            font-size: 15px;
            padding-right: 80px;
        }

        /* Search bar */
        .searchmenu {
            background-image: none;
        }
        .searchmenutabs {
            height: 100px;  
        }
        .searchmenutabs li {
            height: 100px;
        }
        #header_top {
            height: 100px; 
        }
        .searchmenutabs li a {
            display: none !important; 
        }
        .searchmenutabs #sitesearch {
            font-size: 18px;
        }
        .menucontainer {
            background-position: initial; 
        }
        .searchmenutabs #sitesearch {
            width: 410px;
            margin-bottom: 8px;    
            margin-top: 5px;    
        }
        .searchmenutabs select, .searchmenutabs input{
            display: inline;
        }
        input[type="submit"]{
            font-size: 18px;
        }

        /* List games */
        .collection_objectname a {
            font-size: 16px;
        }
        .collection_shop, .collection_status, .collection_rating {
            display: none; 
        }
        .collection_bggrating {
            min-width: 40px;
            max-width: 40px;
        }
        .collection_objectname .dull {
            display: none; 
        }
        /* Hide geek rating header */
        #collectionitems tr th:nth-child(3) {
            display: none;
        }
        /* Hide geek rating content */
        #collectionitems tr td:nth-child(4) {
            display: none;
        }

        /* View game */
        .innermoduletable tr td:nth-child(3) {
            display: none;
        }    
        .bluebox {
            width: 415px; 
        }
        .bluebox table tr td {
            display: inline; 
            float: left;
            padding: 0px !important;
            margin: 0px !important;
        }

        .bluebox .sf {
            font-size: 16px; 
        }
        .bluebox .sf a {
            padding-left: 4px;
            padding-right: 4px;
        }

        .collection_table td.collection_thumbnail {
            display: none;
        }

        /* Front page stuff*/
        .geekcentral_module {
            display: none;
        }

        /* search area */

        #header_top {
            height: auto;
        }

        .searchmenutabs {
            height: auto;
            margin-left: 0;
        }

        .searchmenutabs li {
            font-size: 16px;
            font-weight: normal;

            height: auto;
            padding: 0 16px;
            text-align: left;
        }

        .searchmenutabs form {
            border-bottom: 1px #fff solid;
            color: #1d265c;
            margin-bottom: 4px;
            padding-bottom: 12px;
            padding-top: 4px;
        }

        .searchmenutabs #sitesearch {
            width: 99%;
        }

        .searchmenutabs select {
            margin-left: -72px;
        }

        /* menu */

        #header {
            width: 100%!important;
            min-width: 0!important;
        }

        .menucontainer {
            background-image: none;
        }

        .submenutabs {
            height: auto;
        }

        .submenutabs li {
            display: block;
            float: none;
        }

        .submenutabs li a {
            color: #fff;
            display: block;
            float: none;
            font-size: 16px;
            font-weight: normal;
            padding: 0 16px;
            text-align: left;
            width: 100%;
        }

        .submenutabs li a span .arrow {
            display: none;
        }

        #maincontent > table tr > td:nth-of-type(4) {
            display: none;
        }
    }
}
